@import "../omarchy/current/theme/waybar.css";

@define-color bg            @waybarBg;
@define-color fg            @foreground;
@define-color fg-dim        alpha(@foreground, 0.8);
@define-color accent-red    #FFB180;
@define-color accent-yellow #FFD166;
@define-color accent-green  #26DB8D;
@define-color accent-blue   #7A8CC4;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: transparent;
  margin-top: 6px;
}

#custom-omarchy,
#workspaces,
#custom-update,
#battery,
#clock,
#window {
  background-color: @bg;
  color: @fg-dim;
  border-radius: 4px;
  margin: 2px 4px;
  padding: 2px 7px;
  font-weight: 600;
}

#island {
  background-color: @bg;
  color: @fg-dim;
  border-radius: 4px;
  margin: 2px 4px;
  padding-right: 5px;
  padding-left: 2px;
  font-weight: 600;
}

#island2 {
  background-color: @bg;
  color: @fg-dim;
  border-radius: 4px;
  margin: 2px 4px;
  padding-left: 8px;
  font-weight: 600;
}

#island2 #tray-expander {
  padding-right: 4px;
}

#island2 #system-drawer #temperature {
  padding-right: 5px;
}

#workspaces {
  padding: 0px;
  padding-right: 4px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-omarchy {
  padding-right: 12px;
}

#bluetooth,
#network {
  margin: 2px 6px;
  padding-right: 8px;
}

#cpu,
#memory {
  padding-right: 6px;
}

#workspaces button {
  color: @fg-dim;
  background: transparent;
  padding: 0px 2px;
  margin: 0px 2px;
  border-radius: 6px;
  font-weight: 500;
}

#workspaces button.active {
  color: @fg-dim;
}

#workspaces button.urgent {
  color: @accent-red;
  background-color: alpha(@accent-red, 0.15);
}

#group-tray {
  padding: 1px;
}

#tray {
  padding: 0 4px;
}

#pulseaudio {
  padding-right: 2px;
}

#pulseaudio.muted,
#network.disconnected {
  color: @accent-red;
}

#bluetooth.disabled {
  color: @accent-red;
}

#pulseaudio.muted {
  padding-right: 12px;
}

#battery.charging,
#battery.plugged {
  border-color: @accent-green;
  color: @accent-green;
}

#battery.warning {
  border-color: @accent-yellow;
  color: @accent-yellow;
}

#battery.critical {
  background-color: @accent-red;
  border-color: @accent-red;
  color: @fg;
}

tooltip {
  background-color: alpha(#1a1b1e, 0.8);
  border: 2px solid @fg-dim;
  border-radius: 8px;
  margin: 0;
  padding: 4px 8px;
  color: @fg-dim;
}

tooltip label {
  color: @fg-dim;
  font-size: 12px;
}

window#waybar.empty #window {
  background: transparent;
  color: transparent;
  border: none;
  padding: 0;
  margin-left: 0;
}
